
<!doctype html>
<html>
<head>
	<title>Fishing!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" language="javascript" src="view.js"> </script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Fishing Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
<!-- 		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>username</strong>: <%= user.username %><br>
						<strong>password</strong>: <%= user.password %>
					</p>

			</div>
		</div> -->

	</div>
			<div class="row">
			<div class="col-md-12">
				<h1>Discover<span class="glyphicon glyphicon-globe"></span></h1>
				<p>Web application that logs activites for users visit</p>
			</div>

		</div>

</div>

</body>
</html>