
<!doctype html>
<html>
<head>
	<title>Discover!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" language="javascript" src="../public/js/view.js"> </script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>username</strong>: <%= user.username %><br>
						<strong>password</strong>: <%= user.password %>
					</p>

			</div>
		</div>

	</div>
			<div class="row">
			<div class="col-md-12">
				<h1>Discover<span class="glyphicon glyphicon-globe"></span></h1>
				<p>Web application that logs activites for users visit</p>
			</div>

			<div class="row">
				<div class="col-md-12">
					<form>
						<div class="form-group">
							<label>Name</label><br>
							<input id="name" type="text" name="name" placeholder="name">
							<br>
							<label>Activity</label><br>
							<input id="activity" type="text" name="name" placeholder="activity">
							<br>
							<label>Address</label><br>
							<input id="address" type="text" name="name" placeholder="address">
							<br>
							<label>City</label><br>
							<input id="city" type="text" name="name" placeholder="city">
							<br>
							<label>State</label><br>
							<input id="state" type="text" name="name" placeholder="state">
							<br>
							<label>Zip</label><br>
							<input id="zip" type="text" name="name" placeholder="zip">
							<br>
							<label>Catagory</label><br>
							<input id="catagory" type="text" name="name" placeholder="catagory">
							<br><br>
							<input id="formSubmit" class="btn btn-primary" type="button" name="submit" value="submit">
							
						</div>
					</form>
				</div>
			</div>
		</div>

</div>
<script type="text/javascript" language="javascript" src="../public/js/view.js"> </script>
</body>
</html>